<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Entre em contato conosco através das redes sociais</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-flex justify-content-center justify-content-around text-decoration-none">
      <!-- Facebook -->
          <a style="font-size: 26px;"href="#" class="fa fa-facebook-square me-2 text-decoration-none text-primary "></a>


          <!-- Instagram -->
          <a style="font-size: 26px;" href="#" class="fa fa-instagram me-2 text-decoration-none text-danger"></a>

          <!-- Linkedin -->
          <a style="font-size: 26px;" href="#" class="fa fa-linkedin me-2 text-decoration-none text-primary "></a>

          <!-- Github -->
          <a style="font-size: 26px;" href="#" class="fa fa-github me-2 text-decoration-none text-light"></a>

          <!-- Whatsapp -->
          <a style="font-size: 26px;" href="https://api.whatsapp.com/send?phone=5511940785004&text=Ol%C3%A1%2C%20poderia%20me%20dar%20mais%20informa%C3%A7%C3%B5es%3F" class="fa fa-whatsapp text-decoration-none text-success"></a>
              </div>
              <!-- Right -->
            </section>
            <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-gem me-3"></i>Cidre Informatica
          </h6>
          <p>
            A Cidre Informatica é uma empresa do ramo de varejo diversos e serviços de TI. É uma empresa pensada no melhor para seus consumidores.
            Empregando excelencia no pre e no pos venda.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links úteis
          </h6>
          <p>
            <a href="#!" class="text-reset">Preços</a>
          </p>
  
          <p>
            <a href="/contato" class="text-reset">Fale conosco</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p><i class="fas fa-home me-3"></i> São Paulo, SP, BR</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            andrecidre@hotmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +55 11 94078-5004</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Cidre Informatica © 2021 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
