<footer style="margin-top: 15px; border-top:solid" class="bg-dark text-center text-white ">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
       <a  href="#">
          <img src="/imagens/facebook.svg" width="36" height="36">
        </a>

      <!-- whatsapp -->
      <a  href="#">
        <img src="/imagens/phone-forwarded.svg" width="36" height="36">
      </a>

     <!-- Instagram -->
      <a  href="#">
        <img src="/imagens/Instagram.svg" width="36" height="36" >
      </a>

    
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Cidre © 2020 Copyright

  </div>
  <!-- Copyright -->
</footer>