<header>
    <div id="conteudo-menu">   
        <div id="menuzinho">
            <div class="texto-menu"> 
                <ul>
                    <li>women</li>
                    <li>men</li>
                    <li>kid </li>
                </ul>
            </div>
        </div>
        <div id="menu-principal">
            <div class="texto-menu-principal">

                <div class="conteudo-menu-principal-1">
                    <ul>
                        <li><a href="/">Main</a> </li>
                        <li> <a href="/new">New</a> </li>
                        <li><a href="/brand">Brand</a>  </li>
                        <li>Shoes </li>
                        <li>Accessories </li>
                    </ul>
                </div>
                <div class="conteudo-menu-principal-2">
                    <ul>
                        <li>SUA MARCA</li>
                    </ul>
                </div>
                <div class="conteudo-menu-principal-3">
                    <ul>
                        <li>Pesquisa</li>
                        <li>Favoritos</li>
                        <li>Carrinho </li>
                    <% if(estaLogado) { %>
                        <li><a href="/logout"><% nomeUsuario %> (Fazer logout) </a></li>
                    <% } else { %> 
                        <li><a href="/login">login</a></li>
                        <% } %>
                    </ul>
                </div>

            </div>
        </div>        
    </div>
    
</header>

