
<section class="d-flex flex-column">
    <h1 style="font-size: 30px; margin-top: 30PX; margin-top: 30PX;  margin-bottom: 26px;  text-align: center;">PROMOÇÕES</h1>

        
      <div class="container-fluid p-0 d-flex flex-wrap" id="listagem-produto-promo"></div>
  </section>



<script>
  async function promoFetch(){

      const response = await fetch('/api/promo')
     
      let json = await response.json()
     
      let produtoct = json.products.map(e=>e)
      console.log(produtoct)
     
      let listagem1 = document.getElementById('listagem-produto-promo')
      
      for(let i = 0; i<=produtoct.length; i++ ){
          console.log(produtoct[i].addfavo.nome)
          let article = document.createElement('article')
          article.setAttribute('id', 'article-index')
      
          let div = document.createElement('div')
          div.setAttribute('class', 'd-flex')
          div.setAttribute('id', 'div-pesquisa')
          let p = document.createElement('p')
          p.appendChild(document.createTextNode(produtoct[i].addfavo.nome))
          p.setAttribute('class', 'p-pesuisa')
          div.appendChild(p)
          let span = document.createElement('span')
          span.appendChild(document.createTextNode('R$' + ' ' + produtoct[i].addfavo.valor))
          span.setAttribute('class', 'span-pesquisa')
          div.appendChild(span)
          let pre = document.createElement('pre')
          pre.setAttribute('class', 'btn bi bi-cart btn-primary active p-0')
          pre.appendChild(document.createTextNode(' Adicionar'))
          pre.onclick = ()=> {
            window.location.href = `/produtos/${produtoct[i].addfavo.id}`
          }
          div.appendChild(pre)
          let img = document.createElement('img')
          img.setAttribute('src', `/uploads/${produtoct[i].addfavo.imagem}`)
          img.setAttribute('class', 'img-article')
          img.setAttribute('href', `/produtos/${produtoct[i].addfavo.id}`)
          img.onclick = ()=> {
            window.location.href = `/produtos/${produtoct[i].addfavo.id}`
          }
          article.appendChild(img)
          article.appendChild(div)
          
          listagem1.appendChild(article)
      }
    }
    window.addEventListener('load', promoFetch)


</script>