<section class="container" style="width: 100%; height:258px; margin-top: 20px;" >
    <div  style='height:300px; 'class="container-fluid bg-light">
        <div  class="container d-flex flex-column" >
            <h2 style="color: rgb(0, 0, 0); text-align: center;">PROMOÇÕES</h2>
            <div  class="container d-flex justify-content-around" style="margin-top: 10px;">            
                
                
              <% produtos.forEach(function(produto) { %>
                <div  id="promocoes" style="border-top: solid 2px ;" class=" d-flex">      
                    <img class="thumb-promo" src="/uploads/<%= produto.imagem %> " alt="">
                </div>
     
                    <% }) %>
                </div>
        </div>
    </div>
</section>