<!DOCTYPE html>
<html>
  <head>
    <title>Black </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/brand.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
      </head>
  </head>
  <body>

    <%- include("./partials/header")%>



    <div class="promocao">
      <h1>Hand-Picked Daily</h1>
    </div>
    
    <div id="conteudo-principal-brand"> 

      <div id="filtro">
        <h1>filtro</h1>
      </div>
      
      <div id="produtos-principal">
        <% roupas.forEach(function(roupa) { %> 
          <div id="produtos">
              <div class="produto">
                  <img src="/imagens/roupa1.jpg" alt="">
              </div>
              <div id="nome-produto">
                <h3 class="descricao-nome"><%= roupa.nome  %></h3> 
              </div>
              <div id="valores">
                  <div class="valor">
                      <h4>R$ <%= roupa.valor %> </h4>
                  </div>
                  <div class="button">
                       adicionar ao carrinho
                  </div>
              </div>
          </div>
          <% }) %>
        </div>
      </div>

        <%- include("./partials/footer")%>
  </body>
</html>
