<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head")%>
<body >
  <%- include("./partials/header")%>
  <main style="        margin-top: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;" >

      <div class="container p-0" style="width: 263px;">
        <div id="lista-erro"></div>
        <h3>Carrinho</h3>
        <div class="container p-0">
          <div class="p-0" id="itens"> 
            <ul class="p-0" id="lista"></ul>
            
          </div>
          <button class="btn btn-primary" type="button" onclick=" localStorage.clear(); location.reload();"> Limpar carrinho </button>
        </div>
        
      
      </div>
      <div style="width: 202px;    margin-left: 7px;" class="container border p-0">
        
        <div  >
          <h3>Valor do pedido</h3>
          

            <div id="total"></div>
         
          
         
        </div>
        
      </div>


    </div>
   
    
    
</main>
 
  <%- include("./partials/footer")%>
  
</body>
</html>
<script>
        
        function errorValidate(e){  
          let login = document.querySelector('.li-login').innerText
          if(login != 'Login'){
            console.log('diferente')
            
            enviar()

            localStorage.clear()
            window.location.href = '/'
          }else{
            e.preventDefault()
            console.log('faça a login')
            
            window.location.href = '/login'
          }
        }
        let erro = document.getElementById('lista-erro')


        var product = JSON.parse(localStorage.getItem("produtos"))
        var ul = document.createElement('ul')
        ul.setAttribute('class', 'container')
        ul.setAttribute('class', 'lista-produtos')
        
           
            
                           

                        
        var comP = product.map((items)=> {
         

                          items.produto = items.produto
                          items.quantidade = parseInt(items.quantidade)
                          items.valor = parseInt(items.valor)
                          items.id = parseInt(items.id)
                          
                          return items
        })

        const geraStringAleatoria =  (tamanho)=> {
            var stringAleatoria = '';
            var caracteres = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = caracteres.length;
            for (var i = 0; i < tamanho; i++) {
                stringAleatoria += caracteres.charAt(Math.floor(Math.random() * charactersLength));
            }
            console.log(stringAleatoria)
            return stringAleatoria;
            
        }
         const cart =  async ()=> {

         
            const pedido = await fetch('/api/carrinho')
            const retorno = await pedido.json()
            var numeroPAleatorio = await geraStringAleatoria(20)  
              let proc = await retorno.pedidos.map(e=>e)
              let list = []
              var number = ''

            if(retorno == null || []){
              number = numeroPAleatorio
            }else{

              for(let i = 0; i<proc.length; i++){
                if(proc[i].numero_pedido != null && proc[i].numero_pedido != ''){
                  list.push(proc[i].numero_pedido)
                }
              }
              if(list){
                for(let e = 0; e<list.length; e++){
                if(list.indexOf(numeroPAleatorio) !== -1){
                  console.log('encontrou')
                }else{
                  number = numeroPAleatorio
                  
                }
              }
              
              }
             
            }
            return  number
            
            
          }
        

        function deletar(id){
          alert('deletar '+id)
          for(let i=0; i<comP.length; i++ ){
            if(comP[i].id === id){
              comP.splice(i,1)
            }
          }
        }
               
        comP.map((e)=>{
          console.log(e)   
      
      
          var li = document.createElement('li')
          var btn = document.createElement('button')
          btn.setAttribute('type', 'button')
          btn.setAttribute('class', 'btn btn-dark ')
          btn.setAttribute('id', 'mais')
                    
          btn.onclick = function add(){
              let checarSeExiste = comP.filter(item => (item.produto === e.produto)).length > 0; // retorna true ou false
                if(checarSeExiste){
                  comP.map(items => {                    
                        if (items.produto === e.produto){
                          
                          items.produto = e.produto
                          items.quantidade = parseInt(e.quantidade)
                          items.valor = parseInt(e.valor)
                          items.id = parseInt(e.id)
                          items.quantidade += 1; // soma o valor existente mais a quantidade repassada na função
                          
                          return items;
                        }
                   
                }
                );
                localStorage.setItem('produtos',JSON.stringify(comP))
                document.location.reload(true)
          }
        }
          btn.appendChild(document.createTextNode('+'))
          li.appendChild(btn)
          var div = document.createElement('div')
          var span = document.createElement('span')
          if(e.quantidade < 10){
            var qtd = document.createTextNode(' ' + 0 + e.quantidade + 'x ')
          }else{
            var qtd = document.createTextNode(' ' + e.quantidade + 'x ')
          }
          
          div.appendChild(span)

         
            
            span.appendChild(qtd) 
          
            span.appendChild(qtd) 
          
          span.appendChild(qtd)
          li.appendChild(div)
          div.setAttribute('class','valor')

          var btn = document.createElement('button')
          btn.setAttribute('type', 'button')
          btn.setAttribute('class', 'btn btn-dark')
          btn.setAttribute('id', 'menos')
          btn.setAttribute('onclick', "deletar("+ e.id+")")


          btn.onclick = function remove(){
              let checarSeExiste = comP.filter(item => (item.produto === e.produto)).length > 0; // retorna true ou false
                if(checarSeExiste){
                  comP.map(items => {
                                       
                        if (items.produto === e.produto){
                                                    
                              items.produto = e.produto
                              items.quantidade = parseInt(e.quantidade)
                              items.valor = parseInt(e.valor)
                              items.id = parseInt(e.id)
                              items.quantidade -= 1; // subtri o valor existente mais a quantidade repassada na função
                              if(items.quantidade === 0){

                                deletar(e.id)
                                    comP.filter((val) => {
                                        return comP === val;
                                      });
                                      console.log('removeu '+e.produto)    
                                    }

                              return items;
                                                    
                        }
                       
                }
                );
                localStorage.setItem('produtos',JSON.stringify(comP))
                document.location.reload(true)
          }
        }
          btn.appendChild(document.createTextNode('-'))
          li.setAttribute('class', 'lista-carrinho')
          li.appendChild(btn)   
          var nome = document.createTextNode(e.produto + ' ')
          li.appendChild(nome)
          var valor = document.createTextNode('R$ ' + e.valor + ' ')
          li.appendChild(valor)
          ul.setAttribute('class', 'p-0')
          ul.appendChild(li)       
      
          var element = document.getElementById('lista')
          element.appendChild(ul) 
        })


   // calcula o total dos recheios
   function total(){
    let total = JSON.parse(localStorage.getItem('produtos'))
    let totalM = total.map(items=> {
                          items.produto = items.produto
                          items.quantidade = parseInt(items.quantidade)
                          items.valor = parseInt(items.valor)
                          items.id = parseInt(items.id)
                          return items
        })
    let tot = []
    if(total != null){
      let somaT = totalM.map(e => {
        let valor = e.quantidade * e.valor
        tot.push(valor)
        tot.reduce((e,t)=> tot = e+t)
        
      })
      let valorT = document.getElementById('total')
      let h3 = document.createElement('h3')
  
      valorT.appendChild(h3)
      let btnP = document.createElement('button')
       let produto = JSON.parse(localStorage.getItem("produtos"))
       produto.map(e => {
       
        btnP.setAttribute('name', `${e.id}`)
        btnP.setAttribute('onclick', 'errorValidate(event)')
        btnP.setAttribute('class', 'btn btn-primary')
       
       })
      btnP.appendChild(document.createTextNode('Fazer pedido'))
      btnP.setAttribute('type','submit')
       valorT.appendChild(btnP)
     
      h3.appendChild(document.createTextNode(`R$ ${tot}`))
      
    }else{
      let tot = 0
    }
   }    
  
const nPedido = geraStringAleatoria(20)

   const pedido = comP.map((items)=> {
         

          items.produto =  items.produto
         items.quantidade =  parseInt(items.quantidade)
         items.valor =  parseInt(items.valor)
         items.id =  parseInt(items.id)
         items.pedidos =  nPedido
         return  items
})


console.log(pedido)

    async function enviar(){
                let settings = {
                    method: "POST",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify(pedido)
                    
                }
                
                   await fetch('/pedidos/detalhes-pedido', settings)
                                  
                        const ok = response.ok
                        console.log(ok)
                        response.json()
                        
                   
}  
   window.addEventListener('load', total)

   


</script>

<script src="/js/carrinho.js"></script>