<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head")%>
<body >
  <%- include("./partials/header")%>
  <main class="container-fluid d-flex justify-content-around " >
    <div class="container d-flex justify-content-around ">
      <div class="container w-75 p-3  ">
        <h3>Carrinho</h3>
        <div class="container">
          <div id="itens" class="container"> 
            <ul style="display: flex; flex-direction: column; list-style: none; " id="lista"></ul>
            <button class="btn btn-primary" type="button" onclick=" localStorage.clear(); location.reload();"> Limpar carrinho </button>
          </div>
        </div>
        
      
      </div>
      <div style="height: 300px; text-align: center;" class="container border w-70">
        
        <div  >
          <h3>Valor do pedido</h3>
          

            <div id="total"></div>
         
          
         
        </div>
        
      </div>


    </div>
   
    
    
</main>
 
  <%- include("./partials/footer")%>
  
</body>
</html>
<script>
   
  

        var product = JSON.parse(localStorage.getItem("produtos"))
        var ul = document.createElement('ul')
        ul.setAttribute('class', 'container')
        ul.setAttribute('class', 'lista-produtos')
        

        var comP = product.map(items=> {
                          items.produto = items.produto
                          items.quantidade = parseInt(items.quantidade)
                          items.valor = parseInt(items.valor)
                          items.id = parseInt(items.id)
                          return items
        })
        function deletar(id){
          alert('deletar '+id)
          for(let i=0; i<comP.length; i++ ){
            if(comP[i].id === id){
              comP.splice(i,1)
            }
          }
        }
               
        comP.map((e)=>{
          console.log(e)   
      
      
          var li = document.createElement('li')
          var btn = document.createElement('button')
          btn.setAttribute('type', 'button')
          btn.setAttribute('class', 'btn btn-dark ')
          btn.setAttribute('id', 'mais')
          

          
          btn.onclick = function add(){
              let checarSeExiste = comP.filter(item => (item.produto === e.produto)).length > 0; // retorna true ou false
                if(checarSeExiste){
                  comP.map(items => {                    
                        if (items.produto === e.produto){
                          
                          items.produto = e.produto
                          items.quantidade = parseInt(e.quantidade)
                          items.valor = parseInt(e.valor)
                          items.id = parseInt(e.id)
                          items.quantidade += 1; // soma o valor existente mais a quantidade repassada na função
                          
                          return items;
                        }
                   
                }
                );
                localStorage.setItem('produtos',JSON.stringify(comP))
                document.location.reload(true)
          }
        }
          btn.appendChild(document.createTextNode('+'))
          li.appendChild(btn)
          var div = document.createElement('div')
          var span = document.createElement('span')
          var qtd = document.createTextNode(' ' + e.quantidade + 'x ')
          div.appendChild(span)
          span.appendChild(qtd)
          li.appendChild(div)
          div.setAttribute('class','valor')

          var btn = document.createElement('button')
          btn.setAttribute('type', 'button')
          btn.setAttribute('class', 'btn btn-dark')
          btn.setAttribute('id', 'menos')
          btn.setAttribute('onclick', "deletar("+ e.id+")")


          btn.onclick = function remove(){
              let checarSeExiste = comP.filter(item => (item.produto === e.produto)).length > 0; // retorna true ou false
                if(checarSeExiste){
                  comP.map(items => {
                                       
                        if (items.produto === e.produto){
                                                    
                              items.produto = e.produto
                              items.quantidade = parseInt(e.quantidade)
                              items.valor = parseInt(e.valor)
                              items.id = parseInt(e.id)
                              items.quantidade -= 1; // subtri o valor existente mais a quantidade repassada na função
                              if(items.quantidade === 0){

                                deletar(e.id)
                                    comP.filter((val) => {
                                        return comP === val;
                                      });
                                      console.log('removeu '+e.produto)    
                                    }

                              return items;
                                                    
                        }
                       
                }
                );
                localStorage.setItem('produtos',JSON.stringify(comP))
                document.location.reload(true)
          }
        }
          btn.appendChild(document.createTextNode('-'))
          li.appendChild(btn)   
          var nome = document.createTextNode(e.produto + ' ')
          li.appendChild(nome)
          var valor = document.createTextNode('R$ ' + e.valor + ' ')
          li.appendChild(valor)          
      
          var element = document.getElementById('lista')
          element.appendChild(li) 
        })


   // calcula o total dos recheios
   function total(){
    let total = JSON.parse(localStorage.getItem('produtos'))
    let totalM = total.map(items=> {
                          items.produto = items.produto
                          items.quantidade = parseInt(items.quantidade)
                          items.valor = parseInt(items.valor)
                          items.id = parseInt(items.id)
                          return items
        })
    let tot = []
    if(total != null){
      let somaT = totalM.map(e => {
        let valor = e.quantidade * e.valor
        tot.push(valor)
        tot.reduce((e,t)=> tot = e+t)
        
      })
      let valorT = document.getElementById('total')
      let h3 = document.createElement('h3')
      let a = document.createElement('a')
      valorT.appendChild(h3)
      let btnP = document.createElement('button')
       let produto = JSON.parse(localStorage.getItem("produtos"))
       produto.map(e => {
        a.appendChild(btnP)
        btnP.setAttribute('onclick', `${e.id}`)
        btnP.setAttribute('class', 'btn btn-primary')
        a.setAttribute('href','/pedidos/detalhes-pedido')
       })
      btnP.appendChild(document.createTextNode('Fazer pedido'))

      valorT.appendChild(a)
      h3.appendChild(document.createTextNode(`R$ ${tot}`))
      
    }else{
      let tot = 0
    }
   }
   window.addEventListener('load', total)

   


</script>

<script src="/js/carrinho.js"></script>