<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contato </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/brand.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body >
  <%- include("./partials/header")%>
  <main class="container-fluid d-flex justify-content-around " >
    <div class="container d-flex justify-content-around ">
      <div class="container w-75 p-3  ">
        <h3>Carrinho</h3>
        <div class="container">
          <div id="itens" class="container"> 
            <ul style="display: flex; flex-direction: column; list-style: none; " id="lista"></ul>
            <button type="button" onclick=" localStorage.clear(); location.reload();"> Limpar carrinho </button>
          </div>
        </div>
        
      </div>
      <div style="height: 300px; text-align: center;" class="container border w-70">
        <h3>Valor do pedido</h3>
      </div>


    </div>

    
    
</main>
  <%- include("./partials/footer")%>
  
</body>
</html>
<script>
   
  

        let produtos = localStorage.getItem('produtos')
        let produtoObj = JSON.parse(produtos)        
        
        var ul = document.createElement('ul')

        var contador = 0
        var novo = [{
          nome: 'Andre'
        }]
        function array(){
          produtoObj.map(e=> novo.push(e))

          console.log('puxou ' + novo)
        }

        window.addEventListener('load', array)
        
        produtoObj.map((e)=>{
          console.log(e)   
      
          var li = document.createElement('li')
          var qtd = document.createTextNode(e.quantidade + 'x ')
          li.appendChild(qtd)
          var nome = document.createTextNode(e.nomeProduto + ' ')
          li.appendChild(nome)
          var valor = document.createTextNode('R$ ' + e.valorProduto + ' ')
          li.appendChild(valor)
      
          var element = document.getElementById('lista')
          element.appendChild(li) 
        })
  

   


</script>

<script src="/js/carrinho.js"></script>
<script src="/js/adiciona.js"></script>

