<!DOCTYPE html>
<html>
  <%- include("./partials/head")%>
  <body>

    <%- include("./partials/header")%>
    <main class='container'style="margin-top: 88px; height: 760px">
      <section style="margin-top: 80px ;">
          <% if(estaLogado){ %> 
            <h1>Olá  <%= usuario.nome %> </h1>
          <% }else{ %> 
            <h1>Olá Visitante</h1>
            <% }  %> 
          <form class="formulario-principal" action="/confirmacontato" method="get"> 


              
              
              <label for="nome">nome</label>
              <input type="text" name="nome" id="">

              <label for="email">email</label>
              <input type="email" name="email" id="">

              <label for="descricao">descricao</label>
              <textarea name="descricao" id="" cols="30" rows="10"></textarea>

              <hr>
              <button type="submit">enviar</button>
          </form>
        </section>
      </main>


    <%- include("./partials/footer")%>
  </body>
</html>
