<!DOCTYPE html>
<html>
  <head>
    <title>Black </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
      </head>
      <body>
  </head>
  <body>

    <%- include("./partials/header")%>
    <section class="section-body">
      <h2>Painel de controle administrativo</h2>
      <a href="/admin/brand">ir para brand</a>
      <a href="/admin/produtos">ir para produtos</a>
      <a href="/admin/ti">ir para produtos</a>
    </section>


    <%- include("./partials/footer")%>
  </body>
</html>
