<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>
<body>

    <%- include("./partials/header") %>
        <form
                action="https://formspree.io/f/mayvlrzj"
                method="POST"
                >
                <label>
                    Esse e-mail será encaminhado direto para a empresa:
                    <th type="email" name="email" readonly=“true” value="andrecidre@hotmail.com">
                </label>

                <br>
                <hr>
            
                       

                <label for="nome">Seu nome</label>
                <input type="text" id="nome" name="nome" >
                <br>
                <hr>
                <label for="contato">Motivo do contato</label>
                <input type="text" id="contato" name="contato" >
                <br>
                <hr>
                <label for="descricao">Mensagem</label>
                <textarea name="descricao" id="descricao" ></textarea>

                <hr>
                

                <button type="submit">Enviar</button>
        </form>

        <%- include("./partials/footer") %>
</body>
</html>


