<!DOCTYPE html>
<html>
  <head>
    <title>Black </title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="/css/brand.css "/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
      </head>
      <body>
  </head>
  <body>

    <%- include("./partials/header")%>
    <section class="section-body">
        <h2>ENVIADO COM SUCESSO</h2>
        <a href="/admin/brand">voltar para servicos</a>
        <a href="/admin/produtos">voltar para produtos</a>
        <a href="/admin/ti">voltar para produtos</a>
      </section>
    <%- include("./partials/footer")%>
  </body>
</html>
