

<body>
    

        <form action="/pass/send" method="post">
            

            <label for="esqueci">Digite seu email para redefinir senha: </label>
            <input type="email" name='email'placeholder="email" id="email">
            <button type="submit">Enviar</button>
        </form>

</body>

<script>


</script>