<!DOCTYPE html>
<html>
  <head>
    <title>Inicial</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <%- include("./partials/header")%>


    <div class="banner">
      <img src="imagens/DiaryHeroArticle_ForeverGuilty-Campaign-Jared_001_Default.jpg" alt="">
      <h1 id="promotion">Valentine Day's</h1>
    </div>

    <div id="conteudo-principal"> 
      <div>
        <h1>Hand-Picked Daily</h1>
      </div>
      <div id="conteudo-baloes">
          <div class="baloes">
            <div id="produtos-principal-index">
              <% produtos.forEach(function(produto) { %> 
                <div id="produtos2">
                    <div class="produto2">
                        <img src="/imagens/roupa1.jpg" alt="">
                    </div>
                    <div id="nome-produto2">
                      <h3 class="descricao-nome2"><%= produto.nome  %></h3> 
                    </div>
                    <div id="valores2">
                        <div class="valor2">
                            <h4>R$ <%= produto.valor %> </h4>
                        </div>
                        <div class="button">
                             adicionar ao carrinho
                        </div>
                    </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="conteudo-principal-2"> 
        <div>
          <h1>Hand-Picked Daily</h1>
        </div>
        <div id="conteudo-baloes-2">
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
          </div>
        </div>


        <%- include("./partials/footer")%>
  </body>
</html>
