<!DOCTYPE html>
<html>
  <head>
    <title>Inicial</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <%- include("./partials/header")%>


    <div class="banner">
      <img src="imagens/DiaryHeroArticle_ForeverGuilty-Campaign-Jared_001_Default.jpg" alt="">
      <h1 id="promotion">Valentine Day's</h1>
    </div>

    <div id="conteudo-principal"> 
      <div>
        <h1>Hand-Picked Daily</h1>
      </div>
      <div id="conteudo-baloes">
          <div class="baloes">
            <img src="imagens/13160112901226.jpg" alt="">
          </div>
          <div class="baloes">
            <img src="imagens/13160112901226.jpg" alt="">
          </div>
          <div class="baloes">
            <img src="imagens/13160112901226.jpg" alt="">
          </div>
          <div class="baloes">
            <img src="imagens/13160112901226.jpg" alt="">
          </div>
        </div>
      </div>

      <div id="conteudo-principal-2"> 
        <div>
          <h1>Hand-Picked Daily</h1>
        </div>
        <div id="conteudo-baloes-2">
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
            <div class="baloes-2">
              <img src="imagens/13160112901226.jpg" alt="">
            </div>
          </div>
        </div>


        <%- include("./partials/footer")%>
  </body>
</html>
