<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/Login.css">
</head>

<body>
          <main>
            <section id="divisao"> 
            
                <div >
                    <img class="imagem-login" src="/imagens/image1.png" alt="">
                </div>
               
                <section class="contato">
                    <div class="container">
                        <h5>welcome</h5>

                        <h1>Login to your account</h1>
        
                        <div class="align-row">
                            <form id="form-login" method="post">
                                <div>
                                    <div>
                                        <label for="email">email</label>
                                        <input type=”email” name="email"></input>
                                    </div>
                                   
                                    <div>
                                        <label for="senha">senha</label>
                                        <input type="password" name="senha" >
                                    </div>
                                    <hr/>
                                    <button type="submit">Login</button>
                                </div>
                                <div id="footer-sociais">
                                    <ul id="organiazar-sociais">
                                        <li class="facebook"  ><a href=""><img src="/imagens/facebook.png" alt=""></a></li>
                                        <li class="instagram"><a href=""><img  src="/imagens/instagram-icone.jpg" alt=""></a></li>
                                        <li class="github"><a href=""><img  src="/imagens/github.png" alt=""></a></li>
                                    </ul>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </section>
            </section>
            
        </main>
</body>

</html>