<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head")%>
<body >
  <%- include("./partials/header")%>


    <main class="container-fluid p-1" style="height: 500px;    margin-top: 88px;">


        <section>
            <h2>A pesquisa retornou...</h2>
            <div class="container-fluid p-0" id="listagem-produto"></div>
        </section>

    </main>

    <%- include("./partials/footer")%>


</body>

<script>
    let lista = []
    
   async function pesquisar(){
        
        const response = await fetch('/api/produtos')
        const json = await response.json()
        const produtoc = json.produtos.map(e=>e)
        const nomes = localStorage.getItem('pesquisa').toUpperCase()
        console.log(nomes)
        let listagem = document.getElementById('listagem-produto')
        let h1 = document.createElement('h1')
        h1.appendChild(document.createTextNode('Produto não encontrado...'))
                   

                        for(let i = 0; i<produtoc.length; i++ ){
                           console.log(produtoc[i].nome.toUpperCase())
                           if(produtoc[i].nome.toUpperCase().indexOf(nomes) !== -1 ){
                                console.log(produtoc[i].nome)
                                let article = document.createElement('article')
          article.setAttribute('id', 'article-index')
      
          let div = document.createElement('div')
          div.setAttribute('class', 'd-flex')
          div.setAttribute('id', 'div-pesquisa')
          let p = document.createElement('p')
          p.appendChild(document.createTextNode(produtoc[i].nome))
          p.setAttribute('class', 'p-pesuisa')
          div.appendChild(p)
          let span = document.createElement('span')
          span.appendChild(document.createTextNode('R$' + ' ' + produtoc[i].valor))
          span.setAttribute('class', 'span-pesquisa')
          div.appendChild(span)
          let pre = document.createElement('pre')
          pre.setAttribute('class', 'btn bi bi-cart btn-primary active p-0')
          pre.appendChild(document.createTextNode(' Adicionar'))
          pre.onclick = ()=> {
            window.location.href = `/produtos/${produtoc[i].id}`
          }
          div.appendChild(pre)
          let img = document.createElement('img')
          img.setAttribute('src', `/uploads/${produtoc[i].imagem}`)
          img.setAttribute('class', 'img-article')
          img.setAttribute('href', `/produtos/${produtoc[i].id}`)
          img.onclick = ()=> {
            window.location.href = `/produtos/${produtoc[i].id}`
          }
          article.appendChild(img)
          article.appendChild(div)
          
          listagem.appendChild(article)
                           }else{
                            if(produtoc[i].nome.toUpperCase() == nomes.toUpperCase()){
                                listagem.appendChild(h1)
                            }
                            
                           }

} 
}
                        
                


    window.addEventListener('load', pesquisar)
    

</script>
</html>