<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")%>
  <body>

    <%- include("./partials/header")%>



    <main class="bg-light" style="margin-top: 88px;">
      <section>
        <section class="produtos bg-light" >
          <div class="container-fluid w-100 p-0 bg-dark d-flex justify-content-center" style="height:100px; border-radius: 0px 0px 10px 10px;">
            <div class="w-100 p-3">
              <ul class="ul-categorias">  
                <% categoria.forEach(function(categorias){ %> 
                  <li >
                    <div class="categoria-bar">
                      <img style="width: 55px; border: solid #eee; border-radius: 41px;" 
                           src="/uploads/<%= categorias.imagem %> " alt="">
                      
                          <p><%= categorias.nome %> </p>
                    </div>
                    
                  </li>
                <% }) %> 
              </ul>
            </div>
          </div>
          
<section class="d-flex flex-column">
  <h2 style="margin-top: 30PX; margin-top: 30PX;  margin-bottom: 26px;  text-align: center;">PROMOÇÃO</h2>

      
    <div class="container-fluid p-0 d-flex flex-wrap" id="listagem-produto-todos"></div>
</section>



<script>
async function pesquisar(){

    const response = await fetch('/api/produtos')
    let json = await response.json()
    let produtoc = json.produtos.map(e=>e)
    const nomes = localStorage.getItem('pesquisa')
    let listagem = document.getElementById('listagem-produto-todos')
    
    for(let i = 0; i<=produtoc.length; i++ ){
        console.log(produtoc[i].nome)
        let article = document.createElement('article')
        article.setAttribute('class', 'artcile-pesquisa')
        article.setAttribute('href', `/produtos/${produtoc[i].id}`)
        article.onclick = ()=> {
          window.location.href = `/produtos/${produtoc[i].id}`
        }
        article.setAttribute('style', 'min-width: 120px; display: flex; max-width: 151px; height: 172px;  flex-direction: column;  margin-bottom: 16px;  justify-content: space-between;  margin-right: 10px;')
        let div = document.createElement('div')
        div.setAttribute('class', 'd-flex')
        div.setAttribute('style', 'width: 116px')
        let p = document.createElement('p')
        p.appendChild(document.createTextNode(produtoc[i].nome))
        
        p.appendChild(document.createTextNode(' R$' + ' ' + produtoc[i].valor))
        div.appendChild(p)
        let img = document.createElement('img')
        img.setAttribute('src', `/uploads/${produtoc[i].imagem}`)
        img.setAttribute('style', 'width: 112px; height: 134px')
        article.appendChild(img)
        article.appendChild(div)
        listagem.appendChild(article)
    }
  }
  window.addEventListener('load', pesquisar)


</script>