<html lang="en">
    <%- include("../partials/head")%>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .sidebar {
            background-color: #252525;
            color: #fff;
            height: 100vh;
            padding-top: 20px;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 0;
        }
        .sidebar ul li {
            padding: 10px 20px;
            border-bottom: 1px solid #252525;
        }
        .sidebar ul li:hover {
            background-color: #555;
        }
        .main-content {
            padding: 20px;
        }
    </style>    
<body>
    <%- include("../partials/header") %>
    <main id="admin-main"  style="height: 700px; margin-bottom: -25px !important;" class="container-fluid bg-light"  >
       
        <div class="container-fluid"  style="height: 100% !important; margin-bottom: -24.5px!important;">
            <div class="row" style="height: 100% !important;;">
                <nav class="col-md-2 d-none d-md-block sidebar" style="height: 100% !important;;">
                    <ul class="nav flex-column " style="background-color: #252525;">
                        <li class="nav-item">
                            <a class="nav-link active" href="#meus-dados">Meus Dados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/carrinho">Meus Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#alterar-senha">Alterar Senha</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sair">Sair</a>
                        </li>
                    </ul>
                </nav>
                <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
                    <div id="meus-dados">
                        <h2>Meus Dados</h2>
                        <p>Aqui estão os seus dados pessoais...</p>
                    </div>
                    <div id="meus-pedidos" style="display: none;">
                        <h2>Meus Pedidos</h2>
                        <p>Aqui estão seus pedidos anteriores...</p>
                    </div>
                    <div id="alterar-senha" style="display: none;">
                        <h2>Alterar Senha</h2>
                        <p>Aqui você pode alterar sua senha...</p>
                    </div>
                    <div id="sair" style="display: none;">
                        <h2>Sair</h2>
                        <p>Você saiu da sua conta...</p>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
   <%- include('../partials/footer') %> 
</body>
</html>