<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("../partials/header") %>
    <main class="container-fluid" id="admin-main">
        <section class="container-fluid" id="tabela">
            <div class="container-fluid" id="admin-menu">
                <div id="empresa-nome">
                    <h2><%= usuarioLogado.nome  %>  </h2>
                </div>
                <div class="container" id="menu-dash-admin">
                    <ul>
                        <li><strong>Perfil</strong> </li>
                        <li><strong>Meus pedidos</strong> </li>
                        <li><strong><a href="/admin/favoritos">Meus favoritos</a></strong></li>
                    </ul>

                </div>
            </div>
            <div class="container-fluid">

            <div class="container-fluid" id="containers-admin">
                <div clcass="container-fluid" id="container-1-numero">
                    <div class="informacoes-1">
                        <ul>
                            <li><strong> Informações de vendas</li></strong>
                            <li>Vendidos</li>
                            <li>Total R$500</li>    
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        </section>
        
    </main>
   <%- include('../partials/footer') %> 
</body>
</html>