<!DOCTYPE html>
<html lang="en">


    <%- include("../partials/head")%>

<body>
    <%- include("../partials/header") %>
    <main style="margin-top: 140px; margin-bottom: 20px">
        <section class="container-fluid d-flex flex-wrap align-middle" style="align-items: center;">
            <div class="container">
                <h1>Cadastro de Usuario</h1>
                <div class="align-row align-middle" style="align-items: center;">
                    <form id="cadastroForm" method="POST" novalidate>
                        <div class="form-group" style="align-items: center;" id="estilo-form">
                            <div class="lista-erros"></div>
                        </div>
                        <div class="form-group d-flex flex-wrap w-100">
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" name="nome" placeholder="Digite o seu nome" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="celular">Celular</label>
                                <input type="tel" class="form-control" name="celular" placeholder="Digite seu número de celular" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" name="cpf" placeholder="Digite seu CPF" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Digite seu email" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="cep">CEP</label>
                                <input type="text" class="form-control" name="cep" placeholder="CEP" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="endereco">Endereço</label>
                                <input type="text" class="form-control" name="endereco" placeholder="Endereço" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="numero">Número</label>
                                <input type="text" class="form-control" name="numero" placeholder="Número" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="bairro">Bairro</label>
                                <input type="text" class="form-control" name="bairro" placeholder="Bairro" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="cidade">Cidade</label>
                                <input type="text" class="form-control" name="cidade" placeholder="Cidade" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="estado">Estado</label>
                                <input type="text" class="form-control" name="estado" placeholder="Estado" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" name="senha" placeholder="Senha" data-required>
                            </div>
                            <div class="card d-flex flex-column" style="margin-right: 50px; width: 300px; height: 89px;">
                                <label for="repeatPassword">Repita a senha</label>
                                <input type="password" class="form-control" name="repeatPassword" placeholder="Repita a senha" data-required>
                            </div>
                            <button type="submit" id="botao-usuario" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

  <script src="/js/validationCamps.js" ></script>
<script src="/js/apiCep.js"></script>

</body>
</html>
